.brokerage-card{
    height: 500px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background-color: $white;

    &__heading{
        font-family: "Poppins";
        font-size: 30px;
        font-weight: 400;
        color: $orange;
    }

    &__span{
        font-family: "Poppins";
        font-size: 30px;
        font-weight: 700;
        color: $orange;
    }

    &__text{
        width: 70%;
        font-family: "Poppins";
        font-size: 15px;
        font-weight: 400;
        text-align: center;
    }

   
}